<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.paul.springBoot.mapper.UserMapper">

    <select id="queryUserList" resultType="cn.paul.springBoot.dao.User">
        SELECT *
        FROM USER;
    </select>
    <select id="queryUserById" resultType="cn.paul.springBoot.dao.User">
        select * from USER where id = #{id};
    </select>

    <insert id="addUser">
        insert into USER(name, id, sex) VALUES (#{name},#{id},#{sex});
    </insert>

    <update id="updateUser">
        update USER set name=#{name},sex=#{sex} where id=#{id};
    </update>

    <delete id="deleteUserById">
        delete from USER where id = #{id};
    </delete>
</mapper>